In [1]:
import pandas as pd
from typing import List
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns=["student_id", "age"])

## creating pandas dataframe with columns['student_id'] and columns['age']

In [3]:
student_data = [[1, 15], [2, 11], [3, 11], [4, 20]]
df = createDataframe(student_data)
print(df)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## to return rows and columns

In [4]:
import pandas as pd
from typing import List
def getDataframeSize(players: pd.DataFrame) -> List[int]:
     return [players.shape[0], players.shape[1]]

## to select the student['student_id']=101 bt show only 2 columns 'name' and 'age

In [5]:
import pandas as pd
from typing import List
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students['student_id']==101][['name','age']]

## to create a new column and make its values double the value of slaray

In [6]:
import pandas as pd
from typing import List
def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus']=employees['salary']*2
    return employees

## to remove the duplicate value

In [7]:
import pandas as pd
from typing import List
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers = customers.drop_duplicates(subset='email', keep='first')
    return customers

## to drop the mssing value

In [8]:
import pandas as pd
from typing import List
def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    students['name']=students['name'].dropna()
    return students

## to modify the salary column

In [ ]:
import pandas as pd
from typing import List
def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary']=employees['salary']*2
    return employees

## rename the column name

In [ ]:

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students.rename(columns={
        'id': 'student_id',
        'first': 'first_name',
        'last': 'last_name',
        'age': 'age_in_years'
    }, inplace=True)
    return students

## to convert the student['grade'] col from float to int

In [ ]:
import pandas as pd
from typing import List
def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade']=students['grade'].astype('int32')
    return students

## to fillna with 0

In [ ]:
import pandas as pd
from typing import List
def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products['quantity']=products['quantity'].fillna(0)
    return products

## to concatenaet teh df1 and df2

In [ ]:
import pandas as pd
from typing import List
def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1,df2])

## pivot col

In [ ]:
import pandas as pd
from typing import List

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    pivoted = weather.pivot(index='month', columns='city', values='temperature')
    return pivoted

## pd.melt

In [ ]:
import pandas as pd
from typing import List

def meltTable(sales: pd.DataFrame) -> pd.DataFrame:
    reshaped = pd.melt(sales, 
                       id_vars=['product'],
                       value_vars=['quarter_1', 'quarter_2', 'quarter_3', 'quarter_4'],
                       var_name='quarter',
                       value_name='sales')
    return reshaped

## to select th animal['weight]more than 100 and sort them by descdending order according to name

In [ ]:
import pandas as pd
from typing import List

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[animals['weight'] > 100].sort_values('weight', ascending=False)[['name']]

* pd.melt() ka use wide format data ko long format me convert karne ke liye hota hai.
Ye ek column ko fixed rakhta hai (id_vars) aur baaki columns ko rows me reshape karta hai.

In [1]:
import pandas as pd

# Step 1: original table
df = pd.DataFrame({
    'product': ['Umbrella', 'SleepingBag'],
    'quarter_1': [100, 300],
    'quarter_2': [200, 400]
})

# Step 2: apply melt
reshaped = pd.melt(
    df,
    id_vars=['product'],           # product column ko waise ka waise rakho
    value_vars=['quarter_1', 'quarter_2'],  # ye dono columns ko rows bana do
    var_name='quarter',            # naye column ka naam
    value_name='sales'             # naye value column ka naam
)

print(reshaped)

       product    quarter  sales
0     Umbrella  quarter_1    100
1  SleepingBag  quarter_1    300
2     Umbrella  quarter_2    200
3  SleepingBag  quarter_2    400

* pivot() ka kaam hota hai:
Long format ‚Üí Wide format me data convert karna üßæ‚û°Ô∏èüìä
i.e. rows ko columns bana deta hai.

In [2]:
import pandas as pd

# Step 1: create original long data
df = pd.DataFrame({
    'product': ['Umbrella', 'Umbrella', 'SleepingBag', 'SleepingBag'],
    'quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'sales': [100, 200, 300, 400]
})

# Step 2: pivot the table
pivoted = df.pivot(index='quarter', columns='product', values='sales')

# Step 3: reset index (optional)
pivoted = pivoted.reset_index()

print(pivoted)

product quarter  SleepingBag  Umbrella
0            Q1          300       100
1            Q2          400       200